.trading {
    color: var(--clr-accent);
}

.trading__stockSearchForm {
    padding: 1em;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.trading__stockSearchInput {
    width: 70%;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid var(--clr-accent);
}

.trading__stockSearchButton {
    background-color: transparent;
    border: 1px solid var(--clr-accent);
    color: var(--clr-accent);
    font-weight: 700;
    padding: 0 2em;
}

.trading__stockSearchButton:hover {
    cursor: pointer;
}


.trading__stockSearchButton:active {
    background-color: var(--clr-accent);
    color: var(--clr-light);
}





