@import "../../App.css";

.login {
    width: 100%;
    max-width: 960px;    
    align-self: center;
    margin: 0 auto;
    margin-top: 5em;
    display: flex;
    justify-content: center;
 }

 .login__form {
    width: 90%;
    background-color: var(--clr-accent);
    margin: 0 1em;
    padding: 2em 4em;
    text-align: center;
    color: var(--clr-dark);
    min-width: 300px;
}

.login__formTitle {
    font-variant: small-caps;
    font-weight: bold;
    font-size: var(--fs-login-title);
    margin: .5em;
}

.login__formEmail,
.login__formPassword {
    width: 100%;
    font-family: inherit;
    margin: .5em 0;
    padding: 1em;
    font-size: 1.2rem;
    outline-color: var(--clr-accent);
}

.login__formButton {
    display: inline-block;
    border: 1px solid var(--clr-light);
    color: var(--clr-light);
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    padding: .5em 2em;
    margin: .5em 0em .5em 0em;
    transition: .2s ease;
    outline: none;
}

.login__formButton:hover{
    color: var(--clr-dark);
    background-color: var(--clr-light);
    cursor: pointer;
}


.login__formButton:active {
    color: var(--clr-light);
    background-color: transparent;
}

.login__formLink a {
    text-decoration: underline;
    color: var(--clr-light);
    font-size: 1.2rem;
}

.login__formLink a:hover {
    text-decoration: underline;
    color: var(--clr-dark);
}

.login__formError {
    font-size: 1.2rem;
    color: var(--clr-light);
    border: 3px solid red;
}

@media (min-width: 800px) {
    .login__form {
        max-width: 700px;
    }
}