.register {
    padding: 1em .5em;
}

.register__form {
    margin: 0 auto;
    background-color: var(--clr-accent);
    padding: 1em 4em;
    text-align: center;
    color: var(--clr-dark);
}

.register__formTitle {
    font-variant: small-caps;
    font-weight: bold;
    margin-bottom: .5em;
}

.register__formEmail,
.register__formPassword {
    width: 100%;
    font-family: inherit;
    margin: .5em 0;
    padding: 1em;
    font-size: 1.2rem;
    outline-color: var(--clr-accent);
}

.register__formButton {
    display: inline-block;
    border: 1px solid var(--clr-light);
    color: var(--clr-light);
    background-color: transparent;
    font-size: 2rem;
    font-weight: 700;
    padding: .5em 2em;
    margin: .5em 0em .5em 0em;
    transition: .2s ease;
}

.register__formButton:hover,
.register__formButton:focus {
    color: var(--clr-accent);
    background-color: var(--clr-light);
    cursor: pointer;
}

.register__formLink a {
    text-decoration: underline;
    color: var(--clr-light);
    font-size: 1.2rem;
}

.register__formLink a:hover {
    text-decoration: underline;
    color: var(--clr-dark);
}

.register__form--error {
    font-size: 1.2rem;
    color: var(--clr-light);
    border: 3px solid red;
}


 @media (min-width: 800px) {
    .register__form {
        max-width: 700px;
        /* padding: 1em 2em; */
    }
}
